
<span>{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span class="inline-block ml-bag"> ({{ cart.item_count }})</span>
    {%- endif -%}
    <span class="inline-block ml-bag"> ({{ cart.item_count }})</span>
  </div>
{%- endif -%}
