<span>{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="">
    {%- if cart.item_count < 100 -%}
      <span class="inline-block ml-bag">aaaa ({{ cart.item_count }})</span>
    {%- endif -%}
    <span class="inline-block ml-bag"> aaa ({{ cart.item_count }})</span>
  </div>
{%- endif -%}
